/* Секция с личной карточкой */
.user-section {
    background-color: var(--bg-section);
}

/* Блок в секции */
.user {
    width: 100%;
    padding: 22px 100px 52px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 30px;
    border: 1px solid var(--border-section);
    background-color: #fff;

    margin: 0 auto;
}

/* Заголовок "Личная карточка участника" */
.user__title {
    font-size: 44px;
    color: var(--text-darkblue);
}

/* Подзаголовок с именем */
.user__subtitle {
    width: 100%;
    text-align: left;
    font-size: 28px;

    margin-top: 28px;
}

/* Контейнер с информацией */
.user-data__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 50px;
}

/* Строка с информацией */
.user-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px;
}

/* Номер пункта */
.user-data__position {
    width: 40px;
    height: 40px;
    position: relative;

    border: 1px solid #959393;
    border-radius: 50%;
    background-color: #ffd12d;
}

/* Цифра в номере */
.user-data__position::after {
    content: attr(data-position);
    font-size: 28px;
    color: var(--text-darkblue);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Название пункта */
.user-data__text {
    padding: 10px;

    font-size: 18px;
    color: var(--text-darkblue);
}

/* Большой текст */
.user-data__text_bold {
    font-size: 26px;
}

/* Иконка уровня */
.user-data__skill-level {
    width: 30px;
    height: 30px;
}

/* Процент */
.user-data__percent {
    padding: 10px;
    font-size: 28px;

    margin-left: auto;
}

/* Рейтинг пользователя (прогрессбар) */
.user-data__progressbar-bg {
    width: 100%;
    height: 25px;
    position: relative;
    background-color: var(--bg-section);

    margin-top: 14px;
}

.user-data__progressbar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
}

.user .button-yellow {
    margin-top: 76px;
}

/* Текст "Пройти еще раз" */
.user__again {
    font-size: 26px;
    cursor: pointer;

    margin-top: 58px;
}