.confirm {
    height: 650px;
    position: relative;

    background-color: var(--bg-main);
    background-image: url("../../assets/registration/reg-password.png");
    background-repeat: no-repeat;
    background-position: top left;   
}

.confirm-title {
    width: 411px;
    position: absolute;
    top: 60px;
    left: 118px;

    font-size: 40px;
    color: var(--text-white);
}

.confirm-form {
    width: 560px;
    position: absolute;
    top: 74px;
    right: 120px;
}

.confirm-form__title {
    font-size: 26px;
    color: var(--text-white);
}

.confirm-form .custom-input {
    margin-top: 55px;
}

.confirm-form .button-yellow {
    width: 220px;

    margin-top: 63px;
}


.login {
    height: 650px;
    position: relative;

    background-color: var(--bg-main);
    background-image: url("../../assets/registration/reg-login.png");
    background-repeat: no-repeat;
    background-position: top left;   
}

.login-title {
    position: absolute;
    top: 60px;
    left: 118px;

    font-size: 40px;
    color: var(--text-white);
}

.login-form {
    width: 560px;
    position: absolute;
    top: 74px;
    right: 120px;
}

.login-form__title {
    font-size: 26px;
    color: var(--text-white);
}

.login-form .custom-input {
    margin-top: 55px;
}

.login-form .custom-input:last-of-type {
    margin-top: 38px;
}

.login-form .button-yellow {
    width: 220px;

    margin-top: 44px;
}

.login-form__forgot-password {
    font-size: 18px;
    color: var(--text-white);
    text-decoration-skip-ink: none;
    cursor: pointer;

    margin-top: 34px;
}

/* Наведение на пк */
@media (hover: hover) {
    .login-form__forgot-password:hover {
        text-decoration: underline;
    }
}

/* На телефоне текст сразу подчеркнут */
@media (hover: none) {
    .login-form__forgot-password {
        text-decoration: underline;
    }
}