.registration-section {
    height: 540px;
    position: relative;

    background-color: var(--bg-main);
    background-image: url("../../assets/registration/reg-home.png");
    background-repeat: no-repeat;
    background-position: top left;    
}

.registration-form {
    width: 560px;
    position: absolute;
    top: 70px;
    right: 120px;
}

.registration-form .custom-input:not(:last-of-type) {
    margin-bottom: 13px;
}

.registration-form__error {
    font-size: 16px;
    color: #ff7676;

    margin-top: 12px;
}

.registration-form__buttons {
    display: flex;
    gap: 50px;

    margin-top: 17px;
}

.registration-form__buttons .button-darkblue {
    width: 290px;
}

.registration-form__buttons .button-yellow {
    width: 220px;
}