/* Главная секция */
header {
    height: 650px;
    position: relative;

    background-color: var(--bg-main);
    background-image: url("../../assets/header/header-bg.png");
    background-repeat: no-repeat;
    background-position: top left;    
}

/* Логотип productstar */
.header__logo {
    position: absolute;
    top: 30px;
    right: 120px;
}

/* картинка ракеты и ноутбука */
.header__rocket-image {
    position: absolute;
    top: 180px;
    right: 887px;
}


/* Контейнер с блоками */
.header__container {
    width: 670px;

    position: absolute;
    top: 154px;
    right: 150px;
}

/* Заголовок "Узнай свой..." */
.header__container__title {
    font-size: 44px;
    color: var(--text-white);
}

/* Желтое слово в заголовке */
.header__container__title span {
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: #facf37;
}


/* Список с информацией */
.header__container ul {
    margin-left: 25px;
    margin-top: 84px;
}

.header__container ul li {
    padding-left: 20px;
    position: relative;

    font-size: 18px;
    color: var(--text-white);
}

.header__container ul li::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;

    position: absolute;  
    top: 10px;
    left: 2px; 
}

.header__container__buttons {
    display: flex;
    gap: 40px;

    margin-left: 54px;
    margin-top: 80px;
}