/* Блок пользователя в рейтинге */
.rating__user {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* Верхняя часть */
.rating__user-info {
    width: 100%;
    height: 56px;
    position: relative;

    display: flex;
    align-items: center;
}

/* Позиция участника в рейтинге */
.rating__user-position {
    width: 40px;
    height: 40px;
    position: relative;

    border: 1px solid #959393;
    border-radius: 50%;
    background-color: #ffd12d;
}

/* Цифра рейтинга */
.rating__user-position::after {
    content: attr(data-position);
    font-size: 28px;
    color: var(--text-darkblue);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Имя участника */
.rating__user-name {
    padding: 10px;

    font-size: 18px;
    color: var(--text-darkblue);

    margin-left: 12px;
}

/* Иконка "Топ" после имени */
.rating__user-icon {
    width: 24px;
    height: 39px;
}

/* Процент рейтинга */
.rating__user-percent {
    padding: 10px;
    
    font-size: 28px;

    margin-left: auto;
}

/* Рейтинг пользователя (прогрессбар) */
.rating__user-progressbar-bg {
    width: 100%;
    height: 25px;
    position: relative;
    background-color: var(--bg-section);
}

.rating__user-progressbar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
}