<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Рейтинг</title>
    </head>
    <body>
        <h1>Место в рейтинге</h1>
        <table>
          <tr th:each="student:${students}">
            <td th:text="${student.number}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.score}"></td>
          </tr>
        </table>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </body>
</html>