:root {
    /* Основные цвета */
    --bg-main: #1D2136;
    --bg-section: #EBEBEB;

    --border-section: #F4F3F3;
}


* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    color-scheme: light;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-main);
}

article {
    width: 100%;
}

section,
header,
footer {
    width: min(1400px, 100%);

    margin: 0 auto;
}
section {
    padding: 60px 120px;
}


/* Вся полоса прокрутки */
/* *::-webkit-scrollbar {
    width: 4px;
} */

/* Задний фон полосы прокрутки */
/* *::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
} */

/* Полоса прокрутки */
/* *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var();
} */