/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


:root {
    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-darkblue: #1d2136;
    --text-gray: #313131;
}


* {
    font-family: "Montserrat", sans-serif;
    color: var(--text-gray);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.02em;
    word-break: break-word;
}